extends loggedlayout
//idLugar: Number,
//nombreLugar: String,
//subnombreLugar: String,
//descLugar: String,
//historiaLugar: String,
//fotoLugar: String,
//coordenadasLugar:String,
block content
  .container
    .row
      .col-xs-12.col-md-12
        h1.text-center Bienvenido a #{title}
        .panel.panel-default
          .panel-body
            table.table.table-stripped.table-responsive.text-left
              thead
                tr
                  th Nombre
                  th Objeto
                  th JSON
                  th Categoría
                  th Acciones
              each place in places
                tr
                  td #{place.nombreLugar} #[img(src='#{place.bgLugar}')]
                  td #{place.idLugar}
                  td #[a(href='/dashboard/events/#{place._id}', target='_blank') Ver JSON]
                  td #{place.caterogiaLugar}
                  td #[a(href='/dashboard/qr/#{place._id}', target='_blank') QR] #[a(href='/dashboard/edit/#{place._id}') Editar] #[a(href='/dashboard/delete/#{place._id}') Eliminar]
