extends loggedlayout
//idLugar: Number,
//nombreLugar: String,
//subnombreLugar: String,
//descLugar: String,
//historiaLugar: String,
//fotoLugar: String,
//coordenadasLugar:String,
block content
  .container
    .row
      .col-xs-12.col-md-12
        h1.text-center Bienvenido a #{title}
        a.btn.col-md-4(href='/dashboard/new',style='padding:10px;') Nuevo punto
        .panel.panel-default
          .panel-body
            table.table.table-stripped.table-responsive.text-left
              thead
                tr
                  th ID Referencia
                  th Nombre
                  th JSON
                  th Acciones
              each place in places
                tr
                  td #{place._id}
                  td #{place.nombreLugar} #[a(href='/dashboard/place/#{place._id}',target='_blank') Información]
                  td #[a(href='/dashboard/events/#{place._id}', target='_blank') Ver JSON]
                  td #[a(href='/dashboard/qr/get/#{place._id}', target='_blank') QR] #[a(href='/dashboard/edit/#{place._id}') Editar] #[a(href='/dashboard/delete/#{place._id}') Eliminar]
