extends layout
//idLugar: Number,
//nombreLugar: String,
//subnombreLugar: String,
//descLugar: String,
//historiaLugar: String,
//fotoLugar: String,
//coordenadasLugar:String,
block content
  .container
    .row
      .col-xs-12.col-md-12
        h1.text-center Bienvenido a #{title}
        .panel.panel-default
          .panel-body
            each place in places
              hr
              p ID: #{place._id}
              p Nombre: #{place.nombreLugar}
              p SubNombre: #{place.subnombreLugar}
              p Descripcion: #{place.descLugar}
              p Historia: #{place.historiaLugar}
              p Foto: #[img(src='/#{place.fotoLugar}')]
              p Coordernadas: #{place.latitudLugar},#{place.longitudLugar}
              a.pull-right(href='/dashboard/events/#{place._id}',style='margin-top:-30px;') Ver JSON
